@import "mixins/reset";
@include reset;
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.dp-parallax {
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: block;
  height: 800px;
  overflow: hidden;
  padding: -150px 0px;
  position: relative;
  width: 100%;
}
.block1 {
  background-image: url('//placekitten.com/g/1000/800');
}
.block2 {
  background-image: url('//placekitten.com/1200/1000');
}
.block3 {
  background-image: url('//placekitten.com/g/800/800');
}
.centered {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
